.brands-car-category{
    .brands-wrap{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 1fr;
        gap: 2.5rem 2rem;

        @include media-for (null, $sm){
            grid-template-columns: repeat(2, 1fr);
            height: 52rem;
            overflow: hidden;
        }
    }

    .brand-wrap{
        background-color: #F9F9F9;
        padding: 1rem 2rem;
        cursor: pointer;
        .img-wrap{
            width: 7rem;
            height: 6rem;
            margin-bottom: 1rem;
            img{
                width: 80%;
                object-fit: contain;
                display: block;
                margin: auto;
            }
        }
        h5{
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .btn-category-car{
        // display: none;
        text-align: right;
        color: $accent;
        display: block;
        margin-left: auto;
        margin-right: 0;
        font-family: 'Inter', sans-serif;
    }
}