.footer{
    position: relative;
    background-color: $accent;
    padding: 2.5rem 0;
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif; 
    transition: all 1s ease-in-out;
    @include media-for (null, $sm){
        padding: 1.5rem 0;
    }    
    p{
        margin-bottom: .5rem;
    }
    .logo{
        a{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 1rem;
        }
    }
    h4{
        font-weight: 700;
        font-weight: 16px;
        margin-bottom: 1rem;
    }
    ul{
        li{
            a{
                color: white;
                margin-bottom: .5rem;
                &:hover{
                    color: white;
                }
            }
        }
    }
    .contacts-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-for (null, $sm){
            flex-direction: column;
        }
        a{
            display: block;
            color: white;
            margin-bottom: .5rem;
        }
		span{
			padding-right: 0rem;
		}
        .col-r{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
	}

    .footer-visa-desck{
        @include media-for (null, $sm){
            display: none;
        }
    }

    .footer-visa-mob{
        display: none;
        @include media-for (null, $sm){
           display: block;
        }
    }
}