.mini-blog{
    .read-all{
        display: block;
        margin: 2rem 3rem;
        background-color: $accent;
        font-size: 12px;
        padding: .7rem;
        text-align: center;
        color: white;
    }
    .similar_posts-block{
        margin-bottom: 1.5rem;
    }
}