.top-slider-section{
    padding-bottom: 7rem;
    @include media-for (null, $sm){
        padding-bottom: 2rem;
    }
    overflow: hidden;
    .top-slider{
        overflow: visible;
    }
    .swiper-pagination{
        bottom: -2rem;
        .swiper-pagination-bullet-active{
            background-color: $gray-text;
        }
    }
}